@font-face {
  font-family: "Manrope";
  src: url(../FONS/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Playfair Display";
  src: url(../FONS/PlayfairDisplay-Regular.ttf);
}

:root {
  --manrope: "Manrope", sans-serif;
  --playfair-display: "Playfair Display", sans-serif;
}

body {
  color: #ffffff;
  background-color: #151515;
  font-family: var(--manrope);
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

@import "global/header", "global/navigetion", "global/footer";
