footer {
  background: url(../IMAGE/footer.png);
  background-size: cover;
  background-position: center;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(16, 16, 16, 0.6);
  padding-top: 128px;
  padding-bottom: 169px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
}
.footer__form {
  width: 400px;
  display: flex;
  flex-direction: column;
  h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
  }
  input {
    font-weight: 300;
    font-size: 15px;
    line-height: 160%;
    color: #fff;
    border-bottom: 1px solid #fff;
    opacity: 0.5;
    width: 100%;
    height: 24px;
    margin-top: 29px;
    background: transparent;

    &::placeholder {
      color: #fff;
    }

    &:focus {
      opacity: 1;
    }
  }
  button {
    color: #fff;
    background: transparent;
    border-bottom: 1px solid #fff;
    height: 30px;
    margin-top: 37px;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    align-self: flex-end;
    transition: all 0.3s;

    &:hover {
      color: #be7e00;
      border-bottom: 1px solid #be7e00;
    }
  }
}
.footer__contacs {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 16px;

  div {
    height: 24px;
    display: flex;
    align-items: center;

    span {
      margin-left: 13px;
      font-size: 15px;
      line-height: 160%;
    }

    &:first-child {
      img {
        margin-left: 2px;
      }
    }
    &:nth-child(3) {
      img {
        margin-left: 2px;
      }
    }
  }
}
.footer__social_network {
  position: absolute;
  right: 50px;
  top: 3px;
  width: 70px;
  height: 28px;
  display: flex;
  justify-content: space-between;

  svg {
    fill: #fff;
    transition: all 0.3s;
    &:hover {
      fill: #be7e00;
    }
  }
}
.footer__rigth {
  display: flex;
  gap: 30px;
  font-weight: 300;
  font-size: 15px;
  line-height: 160%;
}
.footer__nav {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 22px;

  h4 {
    font-weight: 500;
  }
  a {
    color: #fff;

    &:hover {
      color: #be7e00;
    }
  }
}
.footer__region {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #bcbcbc;
  a {
    color: #bcbcbc;

    &:hover {
      color: #be7e00;
    }
  }
}
.footer__region_top {
  display: flex;
  flex-direction: column;
  gap: 22px;

  h4 {
    font-weight: 500;
  }
}
@media (max-width: 1059px) {
  .footer__rigth {
    flex-direction: column;
    gap: 22px;
  }

  .footer__region_top {
    display: none;
  }
}
@media (max-width: 769px) {
  .footer__container {
    justify-content: start;
    align-content: center;
    flex-direction: column;
    padding-top: 78px;
    padding-bottom: 112px;
  }
  .footer__left {
    max-width: 450px;
    width: 100%;
    position: relative;
  }
  .footer__form {
    width: 100%;
    h4 {
      font-size: 14px;
    }
    input {
      font-size: 12px;
      height: 24px;
      margin-top: 23px;
    }
    button {
      height: 25px;
      margin-top: 50px;
      font-size: 14px;
    }
  }
  .footer__contacs {
    position: absolute;
    top: 780px;
    left: 0;
    width: 100%;
    div {
      span {
        font-size: 12px;
      }
    }
  }
  .footer__social_network {
    right: 0;
    top: 0;
  }
  .footer__rigth {
    font-size: 12px;
    margin-top: 80px;
    gap: 15px;
    margin-bottom: 250px;
  }
  .footer__nav {
    width: 100%;
    gap: 15px;
    h4 {
      font-size: 14px;
    }
  }
}
