header {
  padding-top: 43px;
  height: 1040px;
}
.header_text {
  font-size: 15px;
  line-height: 160%;
  margin-top: 35px;
  margin-bottom: 35px;
}
.btn_contact {
  width: 134px;
  height: 58px;
  background: #fff9ec;
  border-radius: 7px;
  font-size: 15px;
  line-height: 160%;
  color: #be7e00;
  transition: all 0.3s;
  &:hover {
    background: #be7e00;
    color: #fff;
  }
}
@media (max-width: 700px) {
  header {
    padding-top: 25px;
    height: 812px;
  }
  .header_text {
    font-size: 12px;
    margin-top: 20px;
  }
  .btn_contact {
    width: 108px;
    height: 36px;
    font-size: 12px;
  }
}
